/* css reset */
html, body, header, nav, h1, h2, h3, h4, h5, h6, a,
ul, li, strong, main, button, i,
section, img, div, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
select,
option,
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

body {
  background: url('../assets/background-BBQ-1.jpg');
  background-size: 100vw;
  font-family: 'Architects Daughter', cursive;
}

.hidden {
  display: none;
}

.modal-screen, #intro-container {
  z-index: 998;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: rgba(0, 0, 0, .3);
}

#intro-content {
   width: 650px;
    height: 400px;
    position: absolute;
    left: 41%;
    top: 39%;
    bottom: 50px;
    margin-left: -250px;
    margin-top: -150px;
    border: 1px solid;
    background-color: white;
    border-radius: 7px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intro-content h1 {
    font-size: 54px;
    text-align: center;
    font-weight: bold;
}

#intro-content p {
  text-align: center;
  
}

#start-button {
  padding: 0 10px;
  height: 30px;
  border-radius: 4px;
  background: #16df5f;
  color: black;
  font-size: 19px;
  text-align: center;
  position: relative;
  width: 150px;
  margin-bottom: 30px;
  margin-left: 9px;
  margin-top: 27px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 42%;
  align-self: center;
}

.logo-icon img {
  height: 100px;
  width: 100px
}

.game-header {
  text-align: center;
  /* margin-right: 100px; */
  /* color: #847979; */
  /* color: #4d4747; */
  font-size: 88px;
  /* padding-bottom: 10px; */
}

.timer-header {
  display: flex;
  flex-direction: column;
}

.fab {
  margin-top: 10px;
  font-size: 60px;
  color: white;
  margin-left: 30px;
}

#play-again {
  padding: 0 10px;
  height: 30px;
  border-radius: 4px;
  background: #16df5f;
  color: black;
  font-size: 19px;
  text-align: center;
  position: relative;
  width: 150px;
  margin-bottom: 30px;
  margin-left: 63px;
  margin-top: 10px
}

.instructions-pic {
    height: 100px;
    width: 100px;
}

.instructions-box {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.instructions-box-1 {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
}

.instructions-box-1 p {
  font-weight: 900;
  margin-bottom: 10px;
}

.instructions-box-2 {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
}

.instructions-box-2 p {
  font-weight: 900;
  margin-bottom: 10px;
}

.instructions-box-3 {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
}

.instructions-box-3 p {
  font-weight: 900;
  margin-bottom: 10px;
  /* font-family: 'Comfortaa', cursive;
  font-family: 'Source Code Pro', monospace; */
  /* font-family: 'Source Code Pro', monospace; */
  /* font-weight: 900; */
}
