#game-container {
    width: 900px;
    height: 665px;
    border: 2px solid black;
    position: relative;
    left: 19%;
    top: 10%;
    margin-top: 15px;
    /* display: flex;
    flex-direction: row; */
    background-color: wheat;
}

.game-box {
    display: flex;
    height: 83%;
    
}
.game-window {
    display: flex;
    flex-direction: column;
    width: 94%;
    height: 100%;
    margin-top: -10px;
}

.order-header-box {
    display: flex;
}

#order-window {
    border: 1px solid black;
    height: 100%;
    align-self: center;
    background: url(../assets/grill-background-image.png);
    background-size: 625px 301px;
    height: 300px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 628px;
    justify-content: center;
}

.order-ingredients {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -14px;
}

#order-creation {
    width: 95%;
    border: 1px solid black;
    height: 100%;
    /* max-height: max-content; */
    align-self: center;
    margin-top: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.order {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 35px;
    
}
#submit-order {
  padding: 0 10px;
  height: 30px;
  border-radius: 4px;
  background: #16df5f;
  /* color: #4d4747; */
  font-size: 19px;
  text-align: center;
  position: relative;
  width: 150px;
  margin-bottom: 30px;
  margin-left: 30px;
}

#clear-plate {
  padding: 0 10px;
  height: 30px;
  border-radius: 4px;
  background: #ff2f41;
  /* color: #4d4747; */
  font-size: 19px;
  text-align: center;
  position: relative;
  width: 150px;
  margin-left: 30px;
}


.plate {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 28px;
    align-items: center;
    width: 30%;
}
.plate-img {
    width: 76%;
    height: 12%;

}

#burger {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 8px;
    margin-right: 46px;

}

#condiment-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#burger-row {
    display: flex;
    justify-content: space-around;
}

.burger-item {
  width: 75px;
  height: 75px;
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-right: 7px;
}
/* 
#top_bun {
  width: 100px;
  height: 50px;
} */

.burger-item-1 {
    width: 97px;
    height: 30px;
    /* background: wheat; */
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: -35px;
}

.burger-order {
    width: 93px;
    height: 29px;
}


.burger-item:hover, #submit-order:hover, #clear-plate:hover, #start-button:hover, #play-again:hover{
    top: -5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.game-over-screen {
    /* z-index: 999;
    position: fixed;
    background: white;
    border-radius: 10px;
    font-size: 20px;
    width: 21%;
    height: 16%;
    left: 59%;
    top: 56%;
    bottom: 50px;
    margin-left: -250px;
    margin-top: -150px;
    border: 1px solid; */
    z-index: 999;
    position: fixed;
    background: white;
    border-radius: 10px;
    font-size: 20px;
    width: 35%;
    /* height: 27%; */
    height: 33%;
    left: 50%;
    top: 54%;
    bottom: 50px;
    margin-left: -250px;
    margin-top: -150px;
    border: 1px solid;
    padding: 23px;
}

#end-game-score {
    text-align: center;
    /* margin-top: 10px; */
    font-size: 36px;
}

.game-over-screen p {
    font-size: 17px;
    text-align: center;
}
.timer {
    align-self: center;
    font-size: 23px;
    font-weight: 900;
    /* color: #4d4747; */
}

.score {
    align-self: center;
    font-size: 23px;
    font-weight: 900;
    margin-left: 30px;
    /* color: #4d4747; */
}

#check-mark {
    width: 200px;
    height: 200px;
}

.timer-score-box {
    display: flex;
    justify-content: center;
    /* border-bottom: 1px solid black; */
    margin-bottom: 5px;
}