#game-container {
    width: 900px;
    height: 650px;
    border: 2px solid black;
    position: relative;
    left: 19%;
    top: 10%;
    margin-top: 15px;
    /* display: flex;
    flex-direction: row; */
    background-color: wheat;
}

.game-box {
    display: flex;
    height: 83%;
    
}
.game-window {
    display: flex;
    flex-direction: column;
    width: 94%;
    height: 100%;
    margin-top: -20px;
}

.order-header-box {
    display: flex;
}

#order-window {
    border: 1px solid black;
    height: 100%;
    align-self: center;
    background: url(../assets/grill-background-image.png);
    background-size: 625px 301px;
    height: 300px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 628px;
    justify-content: center;
}

.order-ingredients {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -14px;
}

#order-creation {
    width: 95%;
    border: 1px solid black;
    height: 100%;
    /* max-height: max-content; */
    align-self: center;
    margin-top: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.order {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 35px;
    
}
#submit-order {
  padding: 0 10px;
  height: 30px;
  border-radius: 4px;
  background: blue;
  color: black;
  font-size: 19px;
  text-align: center;
  position: relative;
  width: 150px;
  margin-bottom: 30px;
  margin-left: 30px;
}

#clear-plate {
  padding: 0 10px;
  height: 30px;
  border-radius: 4px;
  background: red;
  color: black;
  font-size: 19px;
  text-align: center;
  position: relative;
  width: 150px;
  margin-left: 30px;
}


.plate {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 19px;
    align-items: center;
    width: 30%;
}
.plate-img {
    width: 76%;
    height: 12%;

}

#burger {
    display: flex;
    flex-direction: column;
    margin-right: 46px;
    margin-top: 15px;

}

#condiment-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#burger-row {
    display: flex;
    justify-content: space-around;
}

.burger-item {
  width: 75px;
  height: 75px;
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#top_bun {
  width: 100px;
  height: 50px;
}

.burger-item-1 {
    width: 97px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: -35px;
}

.burger-order {
    width: 93px;
    height: 29px;
}


.burger-item:hover, #submit-order:hover, #clear-plate:hover{
    top: -5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.game-over-screen {
    z-index: 999;
    position: fixed;
    background: white;
    border-radius: 10px;
    font-size: 20px;
    width: 52%;
    height: 39%;
    left: 41%;
    top: 50%;
    bottom: 50px;
    margin-left: -250px;
    margin-top: -150px;
    border: 1px solid;
}

.timer {
    align-self: center;
    font-size: 23px;
    font-weight: 700;
}

.score {
    align-self: center;
    font-size: 23px;
    font-weight: 700;
}

#check-mark {
    width: 200px;
    height: 200px;
}